@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<main>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-6 ">
                <div class="mt-1"></div>
            </div>
            <div class="col-xl-6 d-flex justify-content-end"></div>
        </div>

        <form method="post" enctype="multipart/form-data">
            <div class="row top-row">
                <div class="col-xl-9">
                    <div class="position-relative mt-2 mb-2 mt-lg-0">
                        <input class="form-control mb-2" type="file" asp-for="Files" multiple />
                    </div>
                </div>
                <div class="col-xl-1">
                    <div class="form-group mb-1">
                        <input class="w-100 mb-1 btn-primary btn" id="upload-file" value="Import" type="submit">
                    </div>
                </div>
                <div class="col-xl-1">
                    <div class="form-group mb-1">
                        <img class="loader" id="loader-file" src="~/images/loader.gif" />
                    </div>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card  mb-1   card-totals">
                    <div class="card-body pointer position-relative">
                        <img class="loader loader-totals" src="~/images/loader.gif" />

                        <div class="d-flex ">
                            <div class="w-95 py-1">
                                <div class="d-flex justify-content-between w-95 mb-2">
                                    <p class="card-t-title mb-0">Total</p>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <h1 class="font-weight-bold card-number mb-0" id="Total">R$ 0,00</h1>
                                </div>
                            </div>

                            <div class="w-5">
                                <div class="total-flag"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6">
                <div class="card  mb-1   card-totals">
                    <div class="card-body pointer position-relative">
                        <img class="loader loader-totals" src="~/images/loader.gif" />

                        <div class="d-flex ">
                            <div class="w-95 py-1">
                                <div class="d-flex justify-content-between w-95 mb-2">
                                    <p class="card-t-title mb-0">Total Credits</p>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <h1 class="font-weight-bold card-number mb-0" id="TotalCredits">R$ 0,00</h1>
                                </div>
                            </div>

                            <div class="w-5">
                                <div class="total-flag"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6">
                <div class="card  mb-1   card-totals">
                    <div class="card-body pointer position-relative">
                        <img class="loader loader-totals" src="~/images/loader.gif" />

                        <div class="d-flex ">
                            <div class="w-95 py-1">
                                <div class="d-flex justify-content-between w-95 mb-2">
                                    <p class="card-t-title mb-0">Total Debits</p>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <h1 class="font-weight-bold card-number mb-0" id="TotalDebits">R$ 0,00</h1>
                                </div>
                            </div>

                            <div class="w-5">
                                <div class="total-flag"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6">
                <div class="card  mb-1   card-totals">
                    <div class="card-body pointer position-relative">
                        <img class="loader loader-totals" src="~/images/loader.gif" />

                        <div class="d-flex ">
                            <div class="w-95 py-1">
                                <div class="d-flex justify-content-between w-95 mb-2">
                                    <p class="card-t-title mb-0">Movements</p>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <h1 class="font-weight-bold card-number mb-0" id="TotalMovements">0</h1>
                                </div>
                            </div>

                            <div class="w-5">
                                <div class="total-flag"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body mt-0">
            <div class="card my-1">
                <div class="card-body position-relative card-loader ">
                    <img class="loader" id="loader-table" src="~/images/loader.gif" />
                    <div class="row">
                        <div class="col-xl-12 text-center">
                            <p class="font-weight-bold " id="title-sheet">Bank Statement</p>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="myTable" class="table table-striped table-hover"> </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts
{
    <script src="~/js/Ofx/OfxJs.js"></script>

    <script>
        $("#loader-file").hide();
        $("#loader-table").hide();

        $(document).ready(function () {

            ofxJs.loadAll();

            $("#upload-file").click(function () {
                $("#loader-file").show();
                endUploadFile = false;

                $.ajax({
                    type: "POST",
                    url: '?handler=CreateLoading',
                    contentType: "application/x-www-form-urlencoded",
                    headers: {
                        RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                    }
                })
                    .done(function () {
                        endUpload();
                    })
                    .fail(function () {
                        alert("Error to create loading");
                    });
            });

            var endUploadFile = false;
            function endUpload() {
                $.ajax({
                    type: "POST",
                    url: '?handler=UploadFileLoading',
                    contentType: "application/x-www-form-urlencoded",
                    headers: {
                        RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                    }
                })
                    .done(function (response) {
                        endUploadFile = response;

                        if (endUploadFile == true) {
                            $("#loader-file").hide();
                            ofxJs.loadAll();
                        }
                        else {
                            verifyDownloaded();
                        }
                    })
                    .fail(function () {
                        alert("Error to end upload");
                    });
            }
        });
    </script>

}
